.featrue-page {
  width: 100%;
}

.feature__header {
  font-family: Monts-bold;
  text-align: center;
}

.feature__header h2 {
  font-size: 20px;
  padding: 2em 0 0.5em;
}

.feature__header h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.feature__body {
  margin: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

.feature__param {
  font-family: Source-sans-pro;
  display: flex;
  margin: 1em 0;
}

.feature__icon {
  margin-right: 1em;
  margin-left: 0.5em;
}
.feature__icon img {
  width: 30px;
  height: auto;
}

.feature__details h4 {
  font-size: 12px;
  text-transform: uppercase;
}

.feature__details p {
  font-size: 11px;
  margin-top: 1em;
}

.feature__macbook-img img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .feature__header h2 {
    font-size: 32px;
  }
  .feature__body {
    margin: 2em 0 2em 8em;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature__macbook-img {
    overflow: hidden;
  }

  .feature__macbook-img img {
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 0px 150px;
  }
}

@media screen and (min-width: 1440px) {
  .feature__header h2 {
    font-size: 44px;
  }

  .feature__header h3 {
    font-size: 18px;
  }

  .feature__body {
    margin: 3em 5em;
    padding: 0 5em;
  }

  .feature__param {
    padding-left: 5em;
  }
  .feature__details h4 {
    font-size: 16px;
  }

  .feature__details p {
    font-size: 16px;
    padding-right: 15em;
  }

  .feature__icon img {
    width: 50px;
    height: auto;
  }

  .feature__macbook-img {
    overflow: visible;
    /* margin-right: 15%; */
  }

  .feature__macbook-img img {
    width: 1000px;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
  }
}
