.first-page {
  position: relative;
  background-image: url(../../assets/images/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Monts-bold;
  font-size: 16px;
  font-weight: bold;
  color: #ebcb80;
  letter-spacing: 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: 0 1em;
  font-family: Montserrat;
}

.navigation {
  display: none;
}

.menu {
  color: #fff;
}

/* Heading */
.heading {
  color: #fff;
  position: relative;
  text-align: center;
  padding: 10% 15% 5%;
}

.heading-title h1 {
  font-family: Monts-bold;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 15%;
}

.heading-title p {
  padding: 0 2em;
  font-size: 11px;
}

.btn-explore {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8px;
  font-family: Montserrat;
  display: inline-flex;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  margin: 5% 0;
  padding: 1em 4em;
  background-color: #ebcb80;
  color: #3c3c3c;
  border-radius: 30px;
  cursor: pointer;
}

/* Screen from 768px to 1440px */

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation a {
    font-family: Source-sans-pro-bold;
    font-size: 12px;
    padding: 10px;
    margin: 1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navigation a.btn {
    font-family: Montserrat;
    font-size: 11px;
    padding: 15px 35px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
  }

  .navbar {
    padding-top: 30px;
  }
  .logo a {
    font-size: 30px;
  }

  .heading-title h1 {
    font-size: 32px;
  }
  .heading-title p {
    font-size: 11px;
    margin: 0 2em;
    padding: 1em 8em;
  }
  .btn-explore {
    font-size: 14px;
    padding: 1em 4em;
  }
}

/* Screen from 1024px and bigger */

@media screen and (min-width: 1440px) {
  .navbar {
    margin: 0;
    padding: 30px 0;
  }
  .logo a {
    font-size: 36px;
  }
  .navigation a {
    font-size: 18px;
    margin: 2em;
  }
  .navigation a.btn {
    font-size: 16px;
    padding: 1em 3em;
  }
  .heading-title h1 {
    font-size: 45px;
  }
  .heading-title p {
    font-size: 20px;
  }
  .btn-explore {
    font-size: 20px;
    padding: 1em 4em;
  }
}
