.results__head {
  margin-top: 50px;
  padding: 0 20px;
  text-align: center;
}

.results__head h2 {
  font-family: Monts-bold;
  font-size: 20px;
}

.results__head p {
  font-family: Source-sans-pro;
  font-size: 11px;
}

.results__body {
  text-align: center;
}

.results__content {
  margin-top: 20px;
}

.percent {
  width: 108px;
  height: 108px;
}

.results__details {
  font-family: Source-sans-pro;
}
.results__details h3 {
  font-size: 12px;
  margin-top: 1em;
}

.results__details p {
  font-size: 11px;
  /* margin-top: 1em;
  padding: 0 8em; */
  margin: 1em 5em;
}

@media screen and (min-width: 768px) {
  .results__head h2 {
    font-size: 32px;
  }
  .results__head p {
    margin-top: 2em;
  }

  .results__body {
    display: flex;
    justify-content: center;
    margin: 3em 1em;
  }
}
@media screen and (min-width: 1440px) {
  .results__head h2 {
    font-size: 44px;
  }
  .results__head p {
    font-size: 16px;
  }

  .percent {
    width: 204px;
    height: 204px;
  }

  .results__details h3 {
    font-size: 18px;
  }

  .results__details p {
    font-size: 16px;
  }
}
