.plan-page {
  background-color: var(--light-grey);
}

/* Subplan page header */

.plan__header h2 {
  padding: 2em 0 1em;
  text-align: center;
  font-family: Monts-bold;
  font-size: var(--font-size-lg);
}

/* Subplan page content */

.plan__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  margin: 10px;
  padding-bottom: 5em;
}

.plan__content h2 {
  font-family: Source-sans-pro;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.plan__content h3 {
  font-family: Montserrat;
  font-size: var(--font-size-3xlg);
  font-weight: bold;
}

.plan__content h3::before {
  content: "\0024";
  font-family: Montserrat;
  font-size: var(--font-size-sm);
  vertical-align: 1em;
  letter-spacing: 5px;
}

.plan__price {
  width: 140px;
  height: 224px;
  margin: 5px 0;
  padding-bottom: 12px;
  border-radius: 10px;
  background: var(--white);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.plan__details {
  margin: 20px 5px;
  padding: 0 15px;
  font-family: Source-sans-pro;
  font-size: var(--font-size-xsm);
}

/* Get started button hover animation */

a.btn-get-started {
  font-family: Montserrat;
  font-size: var(--font-size-xsm);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: #4b4b4b;
  transition: ease-out 0.3s;
  position: relative;
  z-index: 1;
}

a.btn-get-started:hover {
  color: var(--light-black);
  cursor: pointer;
}

a.btn-get-started::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--yellow-brown);
  border-radius: 50px;
}

a.btn-get-started:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* Freemium plan */

.plan__freemium {
  margin-bottom: 2em;
  padding: 1em 2em;
  color: var(--white);
  background: linear-gradient(
      180deg,
      rgba(60, 60, 60, 0.198171) 0%,
      rgba(60, 60, 60, 0.704257) 100%
    ),
    url(../../assets/images/coffee-cup.jpg);
  background-blend-mode: multiply, normal;
  background-size: cover;
}

/* Start-up plan */

.plan__start-up {
  margin-bottom: 2em;
  padding: 1em 2em;
  color: var(--white);
  background: linear-gradient(
      180deg,
      rgba(60, 60, 60, 0.198171) 0%,
      rgba(60, 60, 60, 0.704257) 100%
    ),
    url(../../assets/images/coffee.jpg);
  background-blend-mode: multiply, normal;
  background-size: cover;
}

/* Business plan */

.plan__business {
  margin-bottom: 2em;
  padding: 1em 2em;
  color: var(--white);
  background: linear-gradient(
      180deg,
      rgba(60, 60, 60, 0.198171) 0%,
      rgba(60, 60, 60, 0.704257) 100%
    ),
    url(../../assets/images/coffee-shop.jpg);
  background-blend-mode: multiply, normal;
  background-size: cover;
}

/* Enterprise plan */

.plan__enterprise {
  padding: 1em 2em;
  color: var(--white);
  background: linear-gradient(
      180deg,
      rgba(60, 60, 60, 0.198171) 0%,
      rgba(60, 60, 60, 0.704257) 100%
    ),
    url(../../assets/images/group-of-people-in-cafe.jpg);
  background-blend-mode: multiply, normal;
  background-size: cover;
}

/* Support screen from 768px to 1024px wide */

@media screen and (min-width: 768px) {
  .plan__header h2 {
    font-size: 32px;
  }
  .plan__content {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
  }
  .plan__price {
    width: 158px;
    height: 248px;
  }
}

/* Support screen bigger than 1024px */

@media screen and (min-width: 1440px) {
  .plan__header h2 {
    font-size: 44px;
  }
  .plan__content {
    justify-content: space-evenly;
  }

  .plan__content h3 {
    font-size: 64px;
  }

  .plan__content h3::before {
    font-size: 24px;
    vertical-align: 0.5em;
    letter-spacing: 5px;
  }
  .plan__price {
    width: 262px;
    height: 372px;
  }
  .plan__details {
    font-size: 16px;
  }

  .plan__freemium,
  .plan__start-up,
  .plan__business,
  .plan__enterprise {
    padding: 2em 3em;
  }

  .plan__btn a {
    font-size: 16px;
    padding: 1em 3em;
  }
  .plan__btn {
    margin-top: 4em;
  }
}
