/* Reset CSS */
@import url(./reset.css);

/* Fonts */
@import url(./fonts.css);

/* Common */
@import url(./common/common.css);

/* Components */
@import url(./components/header.css);
@import url(./components/sub-plan.css);
@import url(./components/feature-page.css);
@import url(./components/results.css);
@import url(./components/form.css);
@import url(./components/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
