.sub-plan {
  background-color: #f6f6f6;
}

.sub-plan-header {
  width: 100%;
  padding: 5%;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
}

.sub-plan-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  margin: 10px;
}

.sub-plan-content h2 {
  font-family: Source-sans-pro;
  font-size: 12px;
}

.sub-plan-content h3 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
}

.sub-plan-content h3::before {
  content: "\0024";
  font-family: Montserrat;
  font-size: 10px;
  vertical-align: 1.5em;
  letter-spacing: 5px;
}

.price {
  width: 140px;
  height: 224px;
  margin: 5px 0;
  padding-bottom: 12px;
  border: groove;
  border-radius: 10px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.desciption {
  margin: 20px;
  font-family: Source-sans-pro;
  font-size: 11px;
}

.get-started a {
  font-family: Montserrat;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.btn-get-started {
  border: 2px solid #4b4b4b;
  border-radius: 50px;
}

.freemium {
  padding: 1em 2em;
  color: #ffffff;
  background: linear-gradient(
      180deg,
      rgba(60, 60, 60, 0.198171) 0%,
      rgba(60, 60, 60, 0.704257) 100%
    ),
    url(../assets/images/coffee-cup.jpg);
  background-blend-mode: multiply, normal;
  background-size: cover;
}
